version: '3.6'

services:

  back:
    image: comptoir-thorntail
    command: -jar /comptoir-thorntail.jar -s/configs/comptoirdev/thorntail-local-config.yml
    environment:
      - THORNTAIL_SWARM_DEBUG_PORT=8787
      - THORNTAIL_HTTPS_ONLY=false
      - THORNTAIL_LOGGING_ROOT_DASH_LOGGER_LEVEL=FINE
    ports:
      - 8443:8443
      - 9990:9990
      - 8787:8787 # debugger
    volumes:
      - valuya_dev-certs:/certs
      - valuya_dev-secrets:/configs

  db:
    image: mariadb:10
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /configs/comptoirdev/db-root-password
      MYSQL_DATABASE: comptoir
    volumes:
      - db-data:/var/lib/mysql
      - ../res/comptoir.sql:/docker-entrypoint-initdb.d/comptoir.sql
      - valuya_dev-secrets:/configs
    ports:
      - 22307:3306

  napo-db:
    image: mariadb:10
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /configs/comptoirdev/napo-db-root-password
      MYSQL_DATABASE: napo
    volumes:
      - napo-db-data:/var/lib/mysql
      - ../res/petitnapo.sql:/docker-entrypoint-initdb.d/petitnapo.sql
      - valuya_dev-secrets:/configs
    networks:
      - napo-db
    ports:
      - 22306:3306

volumes:
  db-data: {}
  napo-db-data: {}
  valuya_dev-certs:
    external: true
  valuya_dev-secrets:
    external: true


networks:
  napo-db:
    name: comptoir-napo-db
