version: '3.6'

services:
  comptoir:
    image: comptoir-uber
    environment:
      - THORNTAIL_HTTPS_KEYSTORE_PATH=/certs/comptoir.local.p12
      - THORNTAIL_HTTPS_KEYSTORE_PASSWORD=password
      - THORNTAIL_HTTPS_KEY_ALIAS=comptoir.local
      - THORNTAIL_HTTPS_KEY_PASSWORD=password
      - THORNTAIL_HTTPS_ONLY=false
      - THORNTAIL_DATASOURCES_DATA_DASH_SOURCES_COMPTOIR_USER_DASH_NAME=root
      - THORNTAIL_DATASOURCES_DATA_DASH_SOURCES_COMPTOIR_PASSWORD=password
      - THORNTAIL_DATASOURCES_DATA_DASH_SOURCES_COMPTOIR_CONNECTION_DASH_URL=jdbc:mariadb://db:3306/comptoir
      - THORNTAIL_DATASOURCES_DATA_DASH_SOURCES_COMPTOIR_DASH_NON_DASH_JTA_USER_DASH_NAME=root
      - THORNTAIL_DATASOURCES_DATA_DASH_SOURCES_COMPTOIR_DASH_NON_DASH_JTA_PASSWORD=password
      - THORNTAIL_DATASOURCES_DATA_DASH_SOURCES_COMPTOIR_DASH_NON_DASH_JTA_CONNECTION_DASH_URL=jdbc:mariadb://db:3306/comptoir
    ports:
      - 8443:8443
      - 9990:9990
      - 8787:8787 # debugger
    volumes:
      - valuya_dev-certs:/certs

  db:
    image: mariadb:10
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: comptoir
    volumes:
      - db-data:/var/lib/mysql
      - ../res/comptoir.sql:/docker-entrypoint-initdb.d/comptoir.sql
    ports:
      - 22307:3306

  napo-db:
    image: mariadb:10
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: napo
    volumes:
      - napo-db-data:/var/lib/mysql
      - ../res/petitnapo.sql:/docker-entrypoint-initdb.d/petitnapo.sql
    networks:
      - napo-db
    ports:
      - 22306:3306

volumes:
  db-data: {}
  napo-db-data: {}
  valuya_dev-certs:
    external: true


networks:
  napo-db:
    name: comptoir-napo-db
